{% extends 'base.html' %}

{% block body %}

<div class="myconatiner" style="background-color:orange;">
<center><h1  style="font-family: 'Vollkorn', serif;" >Add Project</h1></center>

<div class="container px-1 py-5 mx-auto" style="font-family: 'Domine', serif;color:white" >
                <form  method="POST" class="form-card">
                {% csrf_token %}
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Title<span class="text-danger"> </span></label>{{form.title}} </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tagline<span class="text-danger"> </span></label> {{form.tag}}  </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6  flex-column d-flex"> <label class="form-control-label px-3">Description<span class="text-danger"> </span></label> <div class="div" style="width:200px;">{{form.description}} </div>  </div>
                       
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Created On<span class="text-danger"> </span></label> {{form.created}} </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Completed<span class="text-danger"> </span></label> {{form.completed}} </div>
                    </div>
                     <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Achievements<span class="text-danger"> </span></label> {{form.achievements}} </div>
                       
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Technology Used<span class="text-danger"> </span></label> {{form.tech}} </div>
                       
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Github Link<span class="text-danger"> </span></label> {{form.github}} </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Live Link<span class="text-danger"> </span></label> {{form.live}} </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Optional Field 1<span class="text-danger"> </span></label> {{form.opf1}} </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Optional Field 1 Link<span class="text-danger"> </span></label> {{form.opfl1}} </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Optional Field 2<span class="text-danger"> </span></label> {{form.opf2}} </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Optional Field 2 Link<span class="text-danger"> </span></label> {{form.opfl2}} </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Optional Field 3<span class="text-danger"> *</span></label> {{form.opf3}} </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Optional Field 3 Link<span class="text-danger"> *</span></label> {{form.opfl3}} </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Optional Field 4<span class="text-danger"> </span></label> {{form.opf4}} </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Optional Field 4 Link<span class="text-danger"> </span></label> {{form.opfl4}} </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Image Link<span class="text-danger"> </span></label> {{form.imgl}} </div>
                        
                    </div>
                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary">Submit</button> </div>
                    </div>
                </form>
            </div>
       
    

</div>
</div>

{% endblock %}