{% extends 'base.html' %}
{% block body %}
 <!--Intro Section-->
<div class="mycontainer" style="background-color: #5352ED;">
  <div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
      <center><img src="/media/intro_img.png" style="width: 475px;padding-top: 150px;" alt=""></center>
    
    <br><br><br><br><br><br><br><br>
    </div>
  </div>
</div>
<!--What Section-->
<div class="mycontainer" style="background-color: #FF7F50;">
  <div class="row">
    <div class="col-md-6">
      <center><img src="/media/Sample 13.png" alt="" style="width: 500px;padding-top: 120px;"></center>
      
      <br><br><br><br><br><br>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
<!--Steps-->
<div class="mycontainer">

</div>
{% endblock body %}