{% extends 'base.html' %}
{% block body %}
 <!--Intro Section-->
<div class="mycontainer" style="background-color: #5352ED;">
  <div class="row">
    <div class="col-md-6">
    <div class="text-area " style="padding-left: 100px;padding-top: 200px;">
     
      <h1>Do you create a lot of Projects?</h1>
      <h1>Share with the world with ProjectsBay</h1>
      <h3>Only destination for all your Projects / Articles / Research Papers etc.</h3>
      <h3><a href="">Start Now</a></h3>
      <h3><a href="">What are the Steps?</a></h3>
      <h3><a href="">Tell more about ProjectsBay!</a></h3>
     
      </div>
    </div>
    <div class="col-md-6">
      <center><img src="/media/intro_img.png" style="width: 475px;padding-top: 150px;" alt=""></center>
    
    <br><br><br><br><br><br><br><br>
    </div>
  </div>
</div>
<!--What Section-->
<div class="mycontainer" style="background-color: #FF7F50;">
  <div class="row">
    <div class="col-md-6">
      <center><img src="/media/Sample 13.png" alt="" style="width: 500px;padding-top: 120px;"></center>
      
      <br><br><br><br><br><br>
    </div>
    <div class="col-md-6">
      <div class="text-area" style="padding-top: 125px;">
      <center><h1>ProjectsBay</h1></center>
      <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
      book.</h6>
      </div>
  </div>
</div>
<!--Steps-->

<div class="mycontainer" style="background-color:white;">
  <br><br><br><center><h1>Steps</h1></center><br><br>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <center>
      <div class="card" style="border-radius: 20px;width: 300px;height: 500px;border-color: blue;box-shadow: 5px 10px cyan;" >
          <br>
          <img src="/media/card1.png" alt="" style="height: 225px;">
          <h3>Get In</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book.</p>
      </div>
      </center>
      <br><br>
    </div>
    
    <div class="col-md-3">
      <center>
        <div class="card"
          style="border-radius: 20px;width: 300px;height: 500px;border-color: blue;box-shadow: 5px 10px cyan;">
            <br>
          <img src="/media/card2.png" alt="" style="height: 225px;">
          <h3>Create</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
            specimen
            book.</p>
        </div>
      </center>
      <br><br>
    </div>
    <div class="col-md-3">
      <center>
        <div class="card"
          style="border-radius: 20px;width: 300px;height: 500px;border-color: blue;box-shadow: 5px 10px cyan;">
          <br>
          <img src="/media/card3.png" alt="" style="height: 225px;">
          <h3>Share</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
            specimen
            book.</p>
        </div>
      </center>
    </div>
  </div>
  <br><br><br><br><br><br>
</div>

<div class="mycontainer" style="background-color: #FFA502;">
  <br><br><br><br>
  <div class="row">
    <div class="col-md-6">
      <div class="text-area" style="padding-top: 50px;padding-left: 50px;">
        <center><h1>About Me & This Project!</h1></center>
      </div>
     
    </div>
    <div class="col-md-6">
    <img src="/media/about-me.png" alt="" style="width: 500px;">
    </div>
  </div>
  
</div>

{% endblock body %}