{% extends 'base.html' %}

{% block body %}

<br><br>
<center><a class="btn btn-warning col-sm-8" href="{% url 'addProjects' %}"> Add A Project </a></center>
<br><br>

<div class="container" >
    {% for project in projects %}
<div class="card" style="background-color: #ffffcc;">
    <div class="row">
        <div class="col-md-4" style="border-radius: 10px;">
            <br>
            <center><img src="/media/Magnifier.png" alt="" style="width: 200px;"></center>
           
        <br>
        </div>
        <div class="col-md-8">
            <br>
<h2 style="font-family: 'Source Sans Pro', sans-serif;color: red;">{{project.title}}</h2>
<h5 style="font-family: 'Roboto Slab', serif;color: black;">{% if project.tag is None %}{% else %}{{project.tag}}{% endif %}</h5>
<h5 style="font-family: 'Roboto Slab', serif;color: black;">{% if project.tech is None %}{% else %}{{project.tech}}{% endif %}</h5>
<h5 style="font-family: 'Roboto Slab', serif;color: black;">{% if project.achievements is None %}{% else %}{{project.achievements}}{% endif %}</h5>
<h5 style="font-family: 'Roboto Slab', serif;color: black;"><a href="{% if project.live is None %}{% else %}{{project.live}}{% endif %}">{% if project.live is None %}{% else %}{{project.live}}{% endif %}</a></h5>
<a class="btn btn-primary" href="{% url 'onlyProject' project.id %}">View Project</a>
<a class="btn btn-primary" href="{% url 'confirmDelete' project.id %}">Delete Project</a>

        </div>
    </div>
</div>
<br><br>
{% endfor %}
</div>

{% endblock body %}