{% extends 'base.html' %}

{% block body %}


{% for p in project %}
<br>
<div class="container" style="background-color: white;border-radius: 15px;">
    <center><h1 style="font-family: 'Source Sans Pro', sans-serif;color: red;">{{p.title}}</h1></center>

    

    <h2 style="font-family: 'Source Sans Pro', sans-serif;">{% if p.tag is None %}{% else %}{{p.tag}}{% endif %}</h2>

    <h4 style="font-family: 'Roboto Slab', serif;color: black;">{% if p.created is None %}{% else %}{{p.created}}{% endif %} {% if p.completed is None %}{% else %} - {{p.completed}}{% endif %}</h4>
    <div>
    {% if p.github is None %}{% else %}
   <a class="btn btn-primary" href="{{p.github}}">Github</a>
   {% endif %}
    {% if p.live is None %}{% else %}
    <a class="btn btn-primary" href="{{p.live}}">Live</a>
    {% endif %}
    </div>
    <br>
    <h4 style="font-family: 'Roboto Slab', serif;color: black;">{% if p.description is None %}{% else %}{{p.description | safe }}{% endif %}</h4>
    <h4 style="font-family: 'Roboto Slab', serif;color: black;">{% if p.achievements|length == 0 %}{% else %}  <u>Achievements :</u> {{p.achievements}}{% endif %}  </h4>
    <h4 style="font-family: 'Roboto Slab', serif;color: black;"> {% if p.tech is None %}{% else %}  <u>Technology :</u> {{p.tech}}{% endif %} </h4>
    <h4 style="font-family: 'Roboto Slab', serif;color: black;"><u>{% if p.of1 is None %}{% else %}{{p.of1}}{% endif %}  {% if p.ofl1 is None %}{% else %}:</u>{{p.ofl1}}{% endif %}</h4>
    <h4 style="font-family: 'Roboto Slab', serif;color: black;"><u>{% if p.of2 is None %}{% else %}{{p.of2}}{% endif %}  {% if p.ofl2 is None %}{% else %}:</u>{{p.ofl2}}{% endif %}</h4>
    <h4 style="font-family: 'Roboto Slab', serif;color: black;"><u>{% if p.of3 is None %}{% else %}{{p.of3}}{% endif %}  {% if p.ofl3 is None %}{% else %}:</u>{{p.ofl3}}{% endif %}</h4>
    <h4 style="font-family: 'Roboto Slab', serif;color: black;"><u>{% if p.of4 is None %}{% else %}{{p.of4}}{% endif %}  {% if p.ofl4 is None %}{% else %}:</u>{{p.ofl4}}{% endif %}</h4>
    <img src="{p.imgl}" alt="">
</div>
<br>
{% endfor %}




{% endblock body %}

