{% extends 'base.html' %}

{% block body %}

<div class="mycontainer" style="background-color: whitesmoke;">
<br>
    <div class="container">
    {% for data in profile %}
    <div class="row">
        <div class="col-md-5" >
        
            <h1 style="font-family: 'Source Sans Pro', sans-serif;color: red;">{{data.name}} {% if data.age is None %}{% else %},{{data.age}}{% endif %}</h1>
            {% if data.ctag is None %}{% else %}<h5>{{data.ctag}}</h5>{% endif %}
        
            <h5>{% if data.profession is None %}{% else %}{{data.profession}}{% endif %} {% if data.organization is None %}{% else %}{{data.organization}}{% endif %}</h5>
        </div>
        <div class="col-md-2">
        <img src="{{img}}" alt="" style="width:100px;border-radius:50px">
        </div>
        <div class="col-md-5" style="text-align: right;">
        <h5>{% if data.email is None %}{% else %}{{data.email}} <i class="fas fa-envelope"></i>{% endif %} </h5>
        <h5>{% if data.phone is None %}{% else %}{{data.phone}} <i class="fas fa-phone"></i>{% endif %} </h5>
        <h5>{% if data.address is None %}{% else %}{{data.address}} <i class="fas fa-map-marker-alt">{% endif %} </i></h5>
        <h5> {% if data.portfolio is None %}{% else %} <a href="{{data.portfolio}}">{{data.portfolio}}</a>  <i class="fas fa-link"></i>{% endif %} </h5>
        <h5> {% if data.github is None %}{% else %} <a href="https://github.com/{{data.github}}">github.com/{{data.github}}</a>  <i class="fab fa-github-square"></i>{% endif %}</h5>
        </div>
    </div>
    {% endfor %}
    <br><br>
    {% for project in projects %}
    <div class="card" style="background-color: #ffffff; border-radius: 20px; border-color: blue;">
        <div class="row">
            <div class="col-md-4" style="border-radius: 10px;">
                <br>
                {% if project.imgl is None %}
                <center><img src="/media/Magnifier.png" alt="" style="width: 200px;"></center>
                {% else %}
                <center><img src="{{project.imgl}}" alt="" style="width: 200px;"></center>
                {% endif %}
    
                <br>
            </div>
            <div class="col-md-8">
                <br>
                <h2 style="font-family: 'Source Sans Pro', sans-serif;color: red;">{{project.title}}</h2>
                
        
                <h4 style="font-family: 'Roboto Slab', serif;color: black;">{% if project.tag is None %}{% else %}{{project.tag}}{% endif %}</h4>
                <h5 style="font-family: 'Roboto Slab', serif;color: black;">{% if project.tech is None %}{% else %}{{project.tech}}{% endif %}</h5>
                <h5 style="font-family: 'Roboto Slab', serif;color: black;">{% if project.achievements is None %}{% else %}{{project.achievements}}{% endif %}</h5>
                <h5 style="font-family: 'Roboto Slab', serif;color: black;"><a href="{% if project.live is None %}{% else %}{{project.live}}{% endif %}">{% if project.live is None %}{% else %}{{project.live}}{% endif %}</a></h5>
                <a class="btn btn-primary" href="{% url 'onlyProject' project.id %}" ">View Project</a>
                <br><br>
    
            </div>
        </div>
    </div>
    <br><br>
    {% endfor %}
    </div>
{% for data in profile %}
<center>
<div class="inp">
<div class="row">
<div class="col-md-6">
<input type="text" name="" value="https://projectsbay.herokuapp.com/user/{{data.user}}" id="text" class="form-control col-md-9">
</div>
<div class="col-md-6">
<a class="btn btn-success" onclick="copy()">Copy to Clipboard</a>

</div>
</div>
<br><br><br>
</div>
{% endfor %}
<script>
function copy(){
    var input = document.getElementById("text");
    input.select();
    document.execCommand("Copy")
}
</script>
</div>

{% endblock body %}